.wrap {
  width:  1286px;
  margin: 0 auto;
}

.header_image {
  width:  1286px;
  height: 737px;
  background-image: url("header.jpg");
}

.header_text {
  //font-family:     "proxima-nova-extra-condensed";
  height:          94px;
  text-align:      center;
  margin:          0;
  padding:         297px 0 0 0;
  color:           white;
  font-size:       28px;
  font-weight:     100;
  text-transform:  uppercase;
  letter-spacing:  -1px;
}

.created_by {
  color: rgb(0,175, 252);
  vertical-align: middle;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

.physion_text {
  font-size: 48px;
  vertical-align: middle;
}

.spacing_bar {
  font-size: 32px;
  vertical-align: middle;
}

.contact_us {
  color: rgb(201, 1, 255);
  vertical-align: middle;
}

.contact_us:hover {
  color: rgb(255, 80, 255);
}

.visit_ovation {
  color: rgb(7, 189, 18);
  vertical-align: middle;
}

.visit_ovation:hover {
  color: rgb(70, 255, 90);
}

.contact_info {
  //font-family: "proxima-nova-extra-condensed";
  font-size:   20px;
  font-weight: 100;
  padding:     10 0 0 215px;
}

.mail_info_link {
  color: rgb(1, 173, 239);
}
.mail_info_link:hover {
  color: rgb(1, 200, 250);
}
